body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

h1 {
    color: #343a40;
}

button {
    font-size: 1.5rem;
    padding: 10px;
}

p {
    color: #343a40;
}

#heartContainer {
    font-size: 5rem;
    color: red;
    cursor: pointer;
    display: inline-block;
    text-decoration: none; /* Alt çizgiyi kaldır */
}

#heartContainer p {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #ed0505;
}

#heartContainer:hover {
    text-decoration: none; /* Alt çizgiyi hover durumunda da kaldır */
}